<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} </title>
  </head>
  <body>
    {{> header}}
      <p>View the portfolio:</p>
      <a href="https://github.com/mwang2700" target ="_blank">Click to go to my github page.</a>

      {{> footer}}
  </body>
</html>
